.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.map-overlay-search {
  position: relative;
  font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 260px;
  margin: 10px 0 0 10px;
  padding: 10px;
  overflow: visible;
}

.geocoder {
  position: relative;
  margin: 10px 0 10px;
}

#returnbutton {
  position: relative;
  margin: 10px 0 10px;
  width: 100%;
}

.map-overlay-data {
  position: relative;
  font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  width: 260px;
  top: 0;
  left: 10px;
  margin-top: 10px;
  padding: 10px;
  overflow: visible;
}